/* offsets */
$null: 0px;
$twenty: 20px;
$flx: flex;
$ctr: center;
$hide: hidden;
$abs: absolute;
/* fonts */
$main: 'Space Grotesk', sans-serif;
$no: none;
/* sizes */
$mainWidth: 900px;
$mainHeight: 500px;
/* colors */
$green: #4ade80;
$orange: #f87171;
$white: #ffffff;
