/* offsets */

$null: 0px;
$twenty: 20px;
$flx: flex;
$ctr: center;
$hide: hidden;
$abs: absolute;
/* fonts */
$main: 'Space Grotesk', sans-serif;
$no: none;
/* sizes */
$mainWidth: 900px;
$mainHeight: 500px;
/* colors */
$green: #4ade80;
$orange: #f87171;
$white: #ffffff;

$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1440px
);

$func: clamp(40px, 10vw, 80px); 
